mixin processing

  section.processing(data-value="1")
    h3.processing__title  Обработка данных
    ul.processing__list
      li.processing__item
        svg.processing__icon(width=73 height=73 role="presentation" hidden="true")
          use(href="#analysis-icon")
        span.processing__text.
          Мы используем точные алгоритмы и машинное обучение
      li.processing__item
        svg.processing__icon(width=73 height=73 role="presentation" hidden="true")
          use(href="#data-icon")
        span.processing__text.
          Консолидируем, проверяем, визуализируем и интерпретируем информацию.
      li.processing__item
        svg.processing__icon(width=73 height=73 role="presentation" hidden="true")
          use(href="#briefcase-icon")
        span.processing__text.
          Разрабатываем рекомендации для эффективной промо-стратегии и тактических решений
