@import "../../styles/mixins";
@import "../../styles/maps";

.button {
  @include condition;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;

  transition-property: padding, font-weight, font-size;
  transition-duration: .2s;
}

.button--default {
  justify-content: center;
  padding: 16px 32px 18px;

  color: var(--color-font--light);

  background-color: var(--color-background--accent);
  border-radius: 10px;

  @media (map-get($breakpoints, "small")) {
    padding: 20px 55px 22px;
  }

  @media (map-get($breakpoints, "large")) {
    padding: 16px 32px 18px;
  }

  @media (min-width: 1200px) {
    padding: 20px 55px 22px;
  }
}

.button--alternative {
  color: var(--color-font--accent);

  @media (min-width: 426px) {
    font-size: 20px;
  }

  @media (min-width: 476px) {
    font-size: 22px;
  }

  @media (min-width: 512px) {
    font-size: 24px;
  }

  @media (map-get($breakpoints, "small")) {
    font-size: 28px;
    font-weight: 900;
  }

  @media (map-get($breakpoints, "medium")) {
    padding: 17px 80px 19px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font--light);

    background-color: var(--color-background--accent);
    border-radius: 10px;
  }
}
