@import "../../styles/maps";

.sign {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 8px;

  background-color: rgba(196, 196, 196, .2);
  border-radius: 10px;
}

.sign__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;

  color: var(--color-font--light)
}
