mixin sing(name, parent)

  -
    className = getClassName("sign", parent)

  li(class=className)
    case name
      when "analysis"
        svg.sign__icon(width="73" height="73")
          use(href="#analysis-icon")
        span.sign__text Анализ
      when "interpretation"
        svg.sign__icon(width="73" height="73")
          use(href="#interpretation-icon")
        span.sign__text Интерпретация
      when "visualization"
        svg.sign__icon(width="73" height="73")
          use(href="#visualization-icon")
        span.sign__text Визуализация
