mixin sing(name)

  li.sing
    case name
      when "analysis"
        svg.sing__icon(width="73" height="73")
          use(href="#analysis-icon")
        span.sing__text Анализ
      when "interpretation"
        svg.sing__icon(width="73" height="73")
          use(href="#interpretation-icon")
        span.sing__text Визуализация
      when "visualization"
        svg.sing__icon(width="73" height="73")
          use(href="#visualization-icon")
        span.sing__text Интерпретация
