mixin favicon

  - path = "./img/favicon"

  meta(name="theme-color" content="#ffffff")
  link(rel="icon" href=`${path}/favicon.ico` sizes="any")
  link(rel="icon" href=`${path}/icon.svg` type="image/svg+xml")
  link(rel="apple-touch-icon" href=`${path}/apple-touch-icon.png`)
