mixin conversion

  section.conversion(data-value="2")
    h3.conversion__title  Преобразование данных
    dl.conversion__list
      .conversion__item
        dt.conversion__term  Ежемесячные
        dd.conversion__description  Еженедельные
      .conversion__item
        dt.conversion__term  Сырые данные
        dd.conversion__description  Промо/регулярные
      .conversion__item
        dt.conversion__term  Промо/<br> регулярные
        dd.conversion__description  Базовые/<br> Инкрементальные
      .conversion__item
        dt.conversion__term  Дистрибуция
        dd.conversion__description  Конкретное окружение
