@import "../../styles/maps";

.conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 84px;

  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 426px) {
    padding-left: 20px;
  }

  &::before {
    position: absolute;
    content: attr(data-value);

    top: -10px;
    left: 0;

    font-weight: 900;
    font-size: 96px;
    line-height: 1;

    color: var(--color-font--element);

    @media (min-width: 426px) {
      left: 20px;
    }
  }

  @media (map-get($breakpoints, "extra-large")) {
    box-sizing: border-box;
    width: 582px;
  }

  @media (map-get($breakpoints, "huge")) {
    padding-left: 15px;
    gap: 80px;

    &::before {
      left: 12px
    }
  }
}

.conversion__title {
  z-index: 10;
  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-font);
}

.conversion__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0;

  @media (min-width: 600px) {
    gap: 20px;
  }

  @media (map-get($breakpoints, "medium")) {
    gap: 40px;
  }
}

.conversion__item {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 600px) {
    position: relative;
    flex-direction: row;
    align-self: stretch;
  }
}

.conversion__term,
.conversion__description {
  font-size: 22px;
  line-height: 1;
  color: #000000;

  @media (min-width: 426px) {
    font-size: 28px;
  }

  @media (min-width: 600px) {
    font-size: 32px;
  }
}

.conversion__term,
.conversion__description {
  position: relative;

  &::after {
    position: absolute;
    content: "";

    right: -58px;
    top: 50%;
    transform: translateY(-50%);

    width: 41px;
    height: 15px;

    background-color: transparent;
    background-image: url("../../assets/img/icon/arrow.svg");
  }
}

.conversion__term {
  @media (min-width: 600px) {
    &::after {
      left: 220px;
    }
  }

  @media (map-get($breakpoints, "medium")) {
    &::after {
      left: 244px;
    }
  }
}

.conversion__description {
  margin: 0;

  &::after {
    transform: translateY(-50%) rotate(180deg);
  }

  @media (min-width: 600px) {
    position: absolute;
    left: 280px;

    &::after {
      display: none;
    }
  }

  @media (map-get($breakpoints, "medium")) {
    left: 316px;
  }


}
