@import "../../styles/maps";

.page-header {
  padding: 0 10px;
  transition: padding .2s;
  background-color: var(--color-background--dark);

  @media (map-get($breakpoints, "small")) {
    padding: 0 16px;
  }

  @media (map-get($breakpoints, "large")) {
    padding: 0 20px;
    background-color: transparent;
  }

  @media (map-get($breakpoints, "extra-large")) {
    width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
