@import "maps.scss";

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: "PF Agora Sans Pro", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.375;
  color: var(--color-font);

  background-color: var(--color-background--light);
}

.page-content {
  flex-grow: 1
}

.show-menu {
  overflow: hidden;

  @media (map-get($breakpoints, "large")) {
    overflow: auto;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

