:root {
  --color-background--dark: #090909;
  --color-background--light: #FFFFFF;
  --color-background--accent: #E01E2E;
  --color-font: #141515;
  --color-font--light: #FFFFFF;
  --color-font--accent: #E01E2E;
  --color-font--element: #EFEFEF;
}
