extends ../../templates/staffolding
include ../../templates/helpers

include ../../blocks/page-header/page-header
include ../../blocks/page-content/page-content

block variables
  - title = "AI-Driven Analytics Platform"

  +helpers

block header
  +page-header
block main
  +page-content
