extends ../../templates/staffolding

include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer

block variables
  - title = "AI-Driven Analytics Platform"

block header
  +page-header
block main
  main.page-content
block footer
  +page-footer
