mixin menu-trigger(parent)

  -
    className = getClassName("menu-trigger", parent)

  button(class=className type="button" aria-label="Показать меню")
    svg(width="33" height="28" viewBox="0 0 33 28" fill="none" role="presentation" aria-hidden="true")
      rect.menu-trigger__item.menu-trigger__item--top(y="0" width="33" height="3" rx="1.5" fill="#E01E2E")
      rect.menu-trigger__item.menu-trigger__item--center(y="12.5" width="33" height="3" rx="1.5" fill="#E01E2E")
      rect.menu-trigger__item.menu-trigger__item--bottom(y="25" width="33" height="3" rx="1.5" fill="#E01E2E")
