mixin logo(parent)

  -
    className = getClassName("logo", parent)

  a(class=className href="./" aria-label="Deep dive data analysis")
    img.logo__image(src="img/logo.svg" alt="Deep dive data analysis" width=453 height=80)
