@import "../../styles/maps";

.feature {
  display: flex;
  flex-direction: column;
  padding: 8px;

  background-color: rgb(#a86454, .2);
  border-radius: 10px;

  @media (map-get($breakpoints, "medium")) {
    box-sizing: border-box;
    padding: 25px;
    max-width: 600px;
  }

  @media (map-get($breakpoints, "large")) {
    width: 600px;
    height: 325px;

    border: 2px solid rgb(#646464, .33);
    border-radius: 20px;

    background-image: url("../../assets/img/feature.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (map-get($breakpoints, "large")) and (min-resolution: 2dppx) {
    background-image: url("../../assets/img/feature@2x.png");
  }

  @media (map-get($breakpoints, "large")) and (min-resolution: 3dppx) {
    background-image: url("../../assets/img/feature@3x.png");
  }
}

.feature__title {
  order: 2;
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 20px;
  font-weight: 700;
  color: var(--color-font--light);
}

.feature__text {
  order: 3;
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font--light);
}

.feature__icon {
  order: 1;
  width: 73px;
  height: 73px;
  margin-bottom: 20px;

  transition-property: width, height;
  transition-duration: .2s;

  @media(map-get($breakpoints, "medium")) {
    width: 93px;
    height: 93px;
  }

  @media (map-get($breakpoints, "medium")) {
    margin-bottom: 25px;
  }
}
