@import "../../styles/maps";

.activity {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-bottom: 20px;
  transition: padding .2s;

  @media (map-get($breakpoints, "small")) {
    padding: 0 16px;
  }

  @media (map-get($breakpoints, "large")) {
    padding: 0 20px;
    background-color: transparent;
  }

  @media (map-get($breakpoints, "extra-large")) {
    width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.activity__swiper {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 50px;
}

.swiper-pagination-bullet {
  .activity__swiper--pagination > & {
    position: relative;
    width: 16px;
    height: 16px;

    background-color: var(--color-background--light);
    border: 2px solid var(--color-background--accent)
  }

  &::before {
    position: absolute;
    content: "";

    width: 10px;
    height: 10px;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: var(--color-background--accent);
  }
}
