include ../title/title
include ../button/button

mixin first-chart

  - let name = "first-chart"

  section.first-chart
    +title("Промо-давление увеличивается", name)

    .first-chart__wrapper-canvas
      canvas.first-chart__canvas(aria-label="График увеличения промо-давления" role="img")

    +button("Почему увеличивается?", "#", name, "alternative")
