include ../logo/logo
include ../menu-trigger/menu-trigger
include ../button/button

mixin menu

  -
    let items = [
      {text: "Главная", href: "#"},
      {text: "Продукты", href: "#"},
      {text: "Кейсы", href: "#"},
      {text: "Экспертное мнение", href: "#"},
      {text: "Контакты", href: "#"},
    ]

    let name = "menu"

  nav.menu
    .menu__first-layer
      +logo(name)
      +menu-trigger(name)
    .menu__second-layer.menu__second-layer--hidden
      ul.menu__list
        each item in items
          li.menu__item
            a.menu__link(href=item.href) #{item.text}

      +button("Запросить презентацию", "#", name)
