include ../title/title

mixin second-chart

  section.second-chart
    +title("80% данных не используется производителями")

    .second-chart__content
      .second-chart__wrapper-canvas
        canvas.second-chart__canvas

      .second-chart__image
