include ../feature/feature
include ../sign/sign

mixin intro

  - let name = "intro"

  section.intro
    h1.intro__title(lang="en") AI-Driven Analytics Platform
    .intro__features
      +feature
      ul.intro__signs
        +sing("analysis", name)
        +sing("visualization", name)
        +sing("interpretation", name)

